node_modules/
.expo/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*

# Android
android/app/build
android/.gradle
android/local.properties
android/key.keystore
*.skr
*.bundle

# iOS
ios/build
ios/Pods
ios/.xcode.env*

# Environment
.env
.env.local

# Others
.DS_Store
*.log
